*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/.cxx/*
app/release/output.json
app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
app/.cxx/cmake/debug/arm64-v8a/.ninja_log
*.ninja
app/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
*.bin
app/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_bibledit_armeabi-v7a.stderr.txt
app/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt

